<h3>Create an account</h3>
<form class="ui form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <app-input inputType="text" label="UserName" [control]="username"></app-input>
    <app-input inputType="password" label="Password" [control]="password"></app-input>
    <app-input inputType="password" label="Password Confirmation" [control]="passwordConfirmation"></app-input>
    <div *ngIf="password.touched && passwordConfirmation.touched && signUpForm.errors" class="ui red basic label">
        <p *ngIf="signUpForm.errors!['passwordDontMatch']">Password entered must match</p>
        <p *ngIf="signUpForm.errors!['noConnection']">No Internet connection, Sign up failed</p>
        <p *ngIf="signUpForm.errors!['unknownError']">Sign up failed</p>
    </div>
    <div>
        <button type="submit" class="ui submit button primary">Submit</button>
    </div>
</form>