<h3>Create an account</h3>
<form class="ui form" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <app-input fieldName="User Name" inputType="text" [control]="username"></app-input>
    <app-input fieldName="Password" inputType="text" [control]="password"></app-input>
    <app-input fieldName="Confirm Password" inputType="text" [control]="confirmPassword"></app-input>
    <div *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['confirmPassword'].touched
    && signUpForm.errors" class="ui red basic label">
        <p *ngIf="signUpForm.errors!['passwordDontMatch']">Entered passwords dont match</p>
    </div>
    <div>
        <button type="submit" class="ui submit button primary">Sign Up</button>
    </div>
</form>